<h1 class="index-heading">All Tablescapes</h1>



<div container>
    <div row>
      <div col-12 col-md-6>
        <div class="cards">

        <div class="add_placeholder" style="width: 18rem;">
            <!-- <a href="#" class="btn btn-success">Add new tablescape</a> -->
            <%= link_to "+", new_tablescape_path, class: "btn-add-index"%>
            <div class="add_new_text">
            <p> Add new tablescape </p>
            </div>
        </div>


          <% @tablescapes.each do |tablescape| %>
            <div class="card">
              <% if tablescape.photo.attached? %>
                <%= cl_image_tag tablescape.photo.key, class: "card-img-top" %>
                <% else %>
                  <img class="card-img-top" src="<%= tablescape.image %>" alt="dinner set">
                <% end %>
              <div class="card-body">
              <div class="flex">
               <h5 class="card-title"><%= tablescape.name.capitalize %></h5>
              <div class="price_tag">
                <p>£<%= tablescape.price_per_person %> pp</p>
                 </div>
              </div>
              <p class="category_tag"> <%= tablescape.tag %> </p>
              <p class="card-text"><%= tablescape.description %></p>
             <!--  <div class="card-location">
                <p ><%= tablescape.location %></p>
              </div> -->
              <%= link_to "See details", tablescape_path(tablescape), class: "btn btn-success btn-details"%>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

<%= link_to "Back to Home Page", root_path, class: "btn btn-success btn-homelink" %>
