<h1>All Tablescapes</h1>




<div container>
    <div row>
      <div col-12 col-md-6>
        <div class="cards">
          <% @tablescapes.each do |tablescape| %>
           <% tablescape.tag %>
            <div class="card">
              <img class="card-img-top" src="<%= tablescape.image %>" alt="dinner set">
              <div class="card-body">
              <div class="flex">
               <h5 class="card-title"><%= tablescape.name %></h5>
              <div class="price_tag">
                  <p>£<%= tablescape.price_per_person %> pp</p>
                 </div>
              </div>
              <p class="card-text"><%= tablescape.description %></p>
              <p class="card-text"><%= tablescape.location %></p>
              <%= link_to "See details", root_path, class: "btn btn-success btn-details"%>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

<%= link_to "Back to Home Page", root_path, class: "btn btn-success btn-homelink" %>
