
<h1 class="new_header">Add new tablescape</h1>
<div class="new_form"> <%= simple_form_for [@tablescape] do |f| %>
  <%= f.input :name, :as => :string, placeholder: 'name of tablescape', input_html: { :style=> 'width: 400px;' }%>
  <%= f.input :tag, :as => :string, placeholder: 'category', input_html: { :style=> 'width: 400px;' }%>
  <%= f.input :description, :as => :text, placeholder: 'short description of your tablescape', input_html: { :style=> 'width: 400px;' } %>
  <%= f.input :price_per_person, :as => :integer, placeholder: 'number only', input_html: { :style=> 'width: 100px;' } %>
  <%= f.input :location, :as => :string, placeholder: 'city name', input_html: { :style=> 'width: 400px;' } %>
  <%= f.input :items, as: :boolean, checked_value: true, unchecked_value: false %>

  <%= f.input :photo, as: :file, input_html: { multiple: true } %>
  <%= f.submit "Add my Tablescape", class: "btn btn-success" %>
  <% end %>
</div>

