<div class="container">
  <div class="product">
    <!-- <img src="https://d28m5bx785ox17.cloudfront.net/v1/img/uSL6tH9bMD9kUaI9P9XsdtpG6H1F2fyMaTEtKa2TzQ0=/d/l" class="main-image" alt=""> -->
    <%= image_tag @tablescape.image, class: "main-image" %>
    <div class="tablescape-description">
      <h2><%=  @tablescape.name%></h2>
      <h3><%= @tablescape.tag %></h3>
      <p><%= @tablescape.description %></p>
      <h4>Items:</h4>
      <% @items.each do |item| %>
        <span><%= item.name %></span>
      <% end %>
      <div class="price">£<%= @tablescape.price_per_person %></div>
    </div>
  </div>
  <div class="reserve-form">
    <%= simple_form_for [@tablescape, @booking] do |f| %>
      <%= f.input :date_from%>
      <%= f.input :date_to%>
      <%= f.input :attendees %>
      <%= f.submit "Reserve", class: "btn btn-primary" %>
    <% end %>
  </div>



</div>








<!-- t.bigint "user_id"
t.bigint "tablescape_id"
t.date "date_from"
t.date "date_to"
t.integer "total_price"
t.integer "attendees"
 -->

