<div class="container">
  <div class="product">
    <% if @tablescape.photos.attached? %>

        <div id="carousel-<%= @tablescape.id %>" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <% @tablescape.photos.each_with_index do |photo, i| %>
              <div class="carousel-item <%= 'active' if i == 0 %>">
                <%= cl_image_tag photo.key, class: "main-image d-block w-100" %>
              </div>
            <% end %>
          </div>
          <a class="carousel-control-prev" href="#carousel-<%= @tablescape.id %>" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carousel-<%= @tablescape.id %>" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
    <% else %>

      <img src="https://d28m5bx785ox17.cloudfront.net/v1/img/uSL6tH9bMD9kUaI9P9XsdtpG6H1F2fyMaTEtKa2TzQ0=/d/l" class="main-image" alt="">
    <% end %>
    <div class="tablescape-description">
      <h2><%=  @tablescape.name%></h2>
      <h3><%= @tablescape.tag %></h3>
      <p><%= @tablescape.description %></p>
      <h4>Items:</h4>
      <% @items.each do |item| %>
        <span><%= item.name %></span>
      <% end %>
      <div class="price">£<%= @tablescape.price_per_person %></div>
    </div>
    <div class="tablescape-reviews">
      <h2>Reviews</h2>
      <% if @reviews.any? %>
        <% @reviews.reverse.each do |review| %>
        <p>-------------</p>
        <p><strong><em>Reviewed on: </em></strong><%= review.created_at %><p>
        <p><%= review.description %><p>
        <p><strong><em>Rating: </em></strong><%= review.rating %> out of 5<p>
        <p>-------------</p>
        <% end %>
      <% else %>
        <p>Be the first to write a review. Write a review of this set after your occasion!</p>
      <% end %>
    </div>
    <%= link_to "Update your tablescape?", edit_tablescape_path  %>
  </div>
  <div class="reserve-form">
    <%= simple_form_for [@tablescape, @booking] do |f| %>
      <%= f.input :date_from%>
      <%= f.input :date_to%>
      <%= f.input :attendees %>
      <%= f.submit "Reserve", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

