<div class="container">
  <img src="https://d28m5bx785ox17.cloudfront.net/v1/img/uSL6tH9bMD9kUaI9P9XsdtpG6H1F2fyMaTEtKa2TzQ0=/d/l" class="main-image" alt="">

  <div class="reserve-form">
    <%= simple_form_for [@booking] do |f| %>
      <%= f.input :date_from%>
      <%= f.input :date_to%>
      <%= f.input :attendees %>
      <%= f.submit "Reserve", class: "btn btn-primary" %>
    <% end %>
  </div>



</div>


<div class="container">
  <div class="tablescape-description">
    <h2>Tablescape Description</h2>
    <ul>
      <li>NAME: <%=  @tablescape.name%></li>
      <li>Description: <%= @tablescape.description %></li>
      <li>USER ID: <%= @tablescape.user_id %></li>
      <li>TAG: <%= @tablescape.tag %></li>
      <li>Location: <%= @tablescape.location %></li>
      <li>Price_per_person: <%= @tablescape.price_per_person %></li>
    </ul>
  </div>





<!-- t.bigint "user_id"
t.bigint "tablescape_id"
t.date "date_from"
t.date "date_to"
t.integer "total_price"
t.integer "attendees"
 -->

