<div class="container">
  <div class="product">
    <% if @tablescape.photos.attached? %>
      <%= cl_image_tag photo.key, class: "card-img-top" %>
    <% else %>
      <img src="https://d28m5bx785ox17.cloudfront.net/v1/img/uSL6tH9bMD9kUaI9P9XsdtpG6H1F2fyMaTEtKa2TzQ0=/d/l" class="main-image" alt="">
    <% end %>
    <div class="tablescape-description">
      <h2><%=  @tablescape.name%></h2>
      <h3><%= @tablescape.tag %></h3>
      <p><%= @tablescape.description %></p>
      <h4>Items:</h4>
      <% @items.each do |item| %>
        <span><%= item.name %></span>
      <% end %>
      <div class="price">£<%= @tablescape.price_per_person %></div>
    </div>
    <div class="tablescape-reviews">
      <h2>Reviews</h2>
      <% if @reviews.any? %>
        <% @reviews.each do |review| %>
        <p><%= review.description %><p>
        <% end %>
      <% else %>
        <p>Be the first to write a review. Write a review of this set after your occasion!</p>
      <% end %>
    </div>
  </div>
  <div class="reserve-form">
    <%= simple_form_for [@tablescape, @booking] do |f| %>
      <%= f.input :date_from%>
      <%= f.input :date_to%>
      <%= f.input :attendees %>
      <%= f.submit "Reserve", class: "btn btn-primary" %>
    <% end %>
  </div>

</div>

