<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.2)), url(https://images.unsplash.com/photo-1562050344-f7ad946cee35?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);">
  <h1 class="home-header">Tablescapes</h1>
  <div id="typed-div">
    <span id="banner-typed-text"></span>
  </div>
    <br>
    <br>
    <div id="form-home" class="col-5">
    <h4>Search by category or see all:</h4>
    <%= form_tag(search_results_path, method: :get) do %>
    <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Select category" %>
      <br>
      <div class="form-buttons d-flex flex-row">
        <%= submit_tag 'Search Categories', class: "btn btn-dark" %>
        <%= link_to "Show All Tablescapes", tablescapes_path, class: "btn btn-dark" %>
      </div>
    <% end %>
    </div>
    <div class="logo"> <a href=""></a></div>
</div>


<div class="outer-container-cards">
  <h1>How it works</h1>
  <div class="container-cards">
    <div class="home-card">
      <%=image_tag("searching.jpg")%>
      <h2>Search tablescapes</h2>
      <p>Search for a tablescape by category or browse all.</p>
    </div>
    <div class="home-card">
      <%=image_tag("selectset.jpg")%>
      <h2>Choose a tablescape</h2>
      <p>Select a tablescape that is perfect for your occasion.</p>
    </div>
    <div class="home-card">
      <%=image_tag("ladybooking.jpg")%>
      <h2>Book and pay</h2>
      <p>Check availability, reserve, pay and enjoy!</p>
    </div>
    <div class="home-card">
      <%=image_tag("boxcollection.jpg")%>
      <h2>Collect or receive your tablescape</h2>
      <p>Collect/receive your tablescape for your special event!</p>
    </div>
  </div>
</div>



