<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Tablescapes</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>
    <div class="navbar">
      <div class="logo"> <a href="/"><img src="https://previews.123rf.com/images/aksenovayu/aksenovayu1510/aksenovayu151000041/47191025-wine-and-candles-on-the-table-and-chair-silhouette-silhouette-of-a-table-in-a-cafe-table-with-wine-a.jpg" alt="" style="width: 90px"></a></div>
      <div class="login">
        <i class="fas fa-user"></i>
        <% if user_signed_in? %>
          <span> Hello, <%= current_user.email %> </span>
          <%= link_to "Log Out", destroy_user_session_path, method: :delete %>
        <% else %>
          <%= link_to "Sign In", new_user_session_path %>
        <% end %>
      </div>
    </div>
    <%= render 'shared/flashes' %>
    <%= yield %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
